{# Style sheet #}
<link rel="stylesheet" href="../../assets/css/styles.css">
<link rel="stylesheet" href="../../assets/css/breadcrumb.css">
<link rel="stylesheet" href="../../assets/css/homepage_teaser.css">

{# SETUP  #}
{% set breadcrumb = craft.breadcrumb.config %}
{% set social = entry.blogSocials.one() %}

{# Template #}

<section id="main">
   {# breadcrumb section  #}

<nav class="breadcrumbs">
  <a href="#" title="Home" data-icon="&#xE88A;"><span class="hidden">Home</span></a> &gt;
  {% for crumb in breadcrumb  %}
    {% if loop.last %}
      <a href="{{ crumb.url }}">{{ crumb.title }}</a> &gt;
    {% else %}
        <a class="c-breadcrumb__link" href="{{ crumb.url }}">
            <span>{{ crumb.title }}</span>
        </a>
      {% endif %}
    {% endfor %}
</nav>

  <header>
    <h1>{{ entry.title }}</h1>
    <section id="article-info">
      <h2 id="article-title">Blogs</h2>
      <h3 id="article-description">{{ entry.blogIntroduction }}</h3>       
    </section>
  </header>
   
    <div>    

      <section>   
        {{ entry.blogBody }}
      </section>
      <br/>
  
      {% if social %}
        <section>        
        <img class="social-layout" src="{{ social.getUrl()}}" alt="{{ social.title }}">
        </section>
      {% endif %}
    </div>  
</section>
